#
# Development and integration test requirements
#

pip>=18
invoke==1.2.0
rituals==0.3.1
#https://github.com/jhermann/rituals/archive/master.zip#egg=rituals

# Tornado 5+ requires an up-to-date SSL module - this means Python 2.7.9+ or 3.4+
tornado<5; python_full_version < "2.7.9" or python_version == "3.2" or python_version == "3.3"

sphinx==1.8.2
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.1.9

cookiecutter==1.6.0
##https://github.com/jhermann/cookiecutter/archive/enriched-context-for-hooks.zip#egg=cookiecutter

pytest==5.3.1
https://github.com/jhermann/pytest-spec/archive/fix-hook-config.zip#egg=pytest-spec
#pytest-spec==1.1.0
py>=1.5.2
pluggy>=0.7

pylint==2.3.0
bpython==0.17.1
yolk3k==0.9
pip-upgrader==1.4.15
