#
# Development requirements
#

pip>=20
invoke==1.4.1
rituals==0.4.1
#https://github.com/jhermann/rituals/archive/master.zip#egg=rituals

pylint==2.5.3
bpython==0.19
yolk3k==0.9

tox==3.16.1
tox-venv==0.4.0
twine==3.2.0
pip-upgrader==1.4.15

Sphinx==3.1.2
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.5.0

-r test-requirements.txt
-r docs/requirements.txt
-e .
