#
# Development requirements
#

pip>=18
invoke==1.3.0
rituals==0.4.1
#https://github.com/jhermann/rituals/archive/master.zip#egg=rituals

pylint==2.4.4
bpython==0.18
yolk3k==0.9

tox==3.14.2
tox-venv==0.4.0
twine==1.12.1
pip-upgrader==1.4.15

Sphinx==2.2.2
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.2

-r test-requirements.txt
-r requirements.txt
-e .
