#
# Source Distribution Manifest
#
# More at https://docs.python.org/2/distutils/sourcedist.html

include README.rst LICENSE requirements.txt *-requirements.txt .env .gitignore
recursive-include project.d *.py *.md *.txt *.cfg *.ini
recursive-include docs/_static/img *.md *.png *.ico *.svg *.graphml
#recursive-include docs/uml *.puml

#recursive-include debian *
#prune debian/.debhelper
#prune debian/{{ cookiecutter.repo_name }}
#recursive-include systemd *.service

global-exclude *~ *.swp *debhelper* *.substvars files
