#
# Install requirements
#
{%- if "cli" in cookiecutter.features.replace(',', ' ').split() %}

click==8.0.1
colorama==0.4.4

munch==2.5.0
json-logging==1.3.0
configobj>=5.0,<6
#-e git+https://github.com/jhermann/configobj@move-to-package-32#egg=configobj
#rudiments==0.1.0
https://github.com/jhermann/rudiments/archive/master.zip#egg=rudiments

{%- endif %}
