#
# Test requirements
#

pytest==5.3.5
#https://github.com/jhermann/pytest-spec/archive/fix-hook-config.zip#egg=pytest-spec
pytest-spec==2.0.0
pytest-cov==2.8.1
{% if "travis" in cookiecutter.features.replace(',', ' ').split() -%}
coveralls==1.11.1
{% endif -%}
py>=1.5.2
pluggy>=0.7
sh==1.12.14
