#
# Test requirements
#

pytest==6.2.4
#https://github.com/jhermann/pytest-spec/archive/fix-hook-config.zip#egg=pytest-spec
pytest-spec==3.2.0
pytest-cov==2.12.1
{% if "travis" in cookiecutter.features.replace(',', ' ').split() -%}
coveralls==3.1.0
{% endif -%}
py>=1.5.2
pluggy>=0.13
sh==1.14.2
